<br>

<a href="#" id="toggle-mode-btn" class="text-link">Toggle Mode</a><br><br>

<link rel="stylesheet" type="text/css" href="/css/common.css">
<link rel="stylesheet" type="text/css" href="/css/style.css">

<h1> Change password </h1>

<form action="/changepassword" method="post" class="credentials">
    <input type="password" id="currentpassword" name="currentpassword" placeholder="currentpassword">
    <input type="password" id="newpassword" name="newpassword" placeholder="newpassword">
  <button>Submit</button>
  <div class="buttons">
    <li><a href="/secret">Home</a></li>
    <li><a href="/logout">Logout</a></li>
  </div>
</form>

<script src="/js/dark.js"></script>