<!-- ////////////////// - HEADER - ////////////////// -->

<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Baloo+Bhai|Candal|Chewy&display=swap">
<link rel="stylesheet" type="text/css" href="https://use.fontawesome.com/releases/v6.3.0/css/all.css">
<link rel="stylesheet" href="https://use.typekit.net/fsp2joi.css">

<link rel="stylesheet" type="text/css" href="/css/common.css">
<link rel="stylesheet" type="text/css" href="/css/style.css">
<link rel="stylesheet" type="text/css" href="/css/timer.css">
<link rel="stylesheet" type="text/css" href="/css/dark.css">

<script src="/js/timer.js"></script>

<br>

<a href="#" id="toggle-mode-btn" class="text-link">Toggle Mode</a><br><br>

<pagetitle>Login</pagetitle>

<form action="/login" method="POST" class="credentials">
    <input type="text" name="username" placeholder="username" autocomplete="off">
    <input type="password" name="password" placeholder="password" autocomplete="off">
    <button>login</button>
    <div class="buttons">
        <li><a href="/register">Register</a></li>
    </div>
</form>

<script src="/js/dark.js"></script>