<!-- ////////////////// - 1ST IN DOM > PREVENT FLICKER - ////////////////// -->

<script src="/js/theme_setup.js"></script>
<!-- ////////////////// - LINED STYLES AND SCRIPTS - ////////////////// -->

<link rel="stylesheet" type="text/css"
  href="https://fonts.googleapis.com/css?family=Baloo+Bhai|Candal|Chewy&display=swap">
<link rel="stylesheet" type="text/css" href="https://use.fontawesome.com/releases/v6.3.0/css/all.css">
<link rel="stylesheet" href="https://use.typekit.net/fsp2joi.css">

<link rel="stylesheet" type="text/css" href="/css/themes.css">
<link rel="stylesheet" type="text/css" href="/css/common.css">
<link rel="stylesheet" type="text/css" href="/css/style.css">
<link rel="stylesheet" type="text/css" href="/css/timer.css">
<link rel="stylesheet" type="text/css" href="/css/modals.css">

<script src="/js/timer.js"></script>

<br>

<!-- ////////////////// - DARK MODE - ////////////////// -->

<li style="display: block;" class="toggle-moon">
  <icon href="#" id="toggle-mode-btn-moon" class="toggle-mode">
    <i class="fa-sharp fa-solid fa-moon"></i>
  </icon>
</li>
<li style="display: block;" class="toggle-sun">
  <icon href="#" id="toggle-mode-btn-sun" class="toggle-mode">
    <i class="fa-regular fa-sun"></i>
  </icon>
</li>

<!-- ////////////////// - FORM - ////////////////// -->

<pagetitle>Break Tracker</pagetitle>

<form action="/login" method="POST" class="credentials">
    <input type="text" name="username" placeholder="username" autocomplete="off">
    <input type="password" name="password" placeholder="password" autocomplete="off">
    <button class="form-button">Login</button>
</form>

<br>

<!-- ////////////////// - FETCH JS FILES - ////////////////// -->

<script src="/js/toggle.js"></script>
<script src="/js/modals.js"></script>
