<!-- ////////////////// - HEADER - ////////////////// -->

<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Baloo+Bhai|Candal|Chewy&display=swap">
<link rel="stylesheet" type="text/css" href="https://use.fontawesome.com/releases/v6.3.0/css/all.css">
<link rel="stylesheet" href="https://use.typekit.net/fsp2joi.css">

<link rel="stylesheet" type="text/css" href="/css/common.css">
<link rel="stylesheet" type="text/css" href="/css/style.css">
<link rel="stylesheet" type="text/css" href="/css/timer.css">
<link rel="stylesheet" type="text/css" href="/css/dark.css">

<script src="/js/timer.js"></script>

<br>

<li>
  <a href="#" id="toggle-mode-btn" class="toggle-mode">
    <i class="fa-regular fa-sun"></i>
  </a>
</li>
<br>

<li><a href="/secret">Back</a></li><br><br>

<pagetitle>Your password has been changed successfully!</pagetitle>