<!-- ////////////////// - LINED STYLES AND SCRIPTS - ////////////////// -->

<link rel="stylesheet" type="text/css"
  href="https://fonts.googleapis.com/css?family=Baloo+Bhai|Candal|Chewy&display=swap">
<link rel="stylesheet" type="text/css" href="https://use.fontawesome.com/releases/v6.3.0/css/all.css">
<link rel="stylesheet" href="https://use.typekit.net/fsp2joi.css">

<link rel="stylesheet" type="text/css" href="/css/common.css">
<link rel="stylesheet" type="text/css" href="/css/style.css">
<link rel="stylesheet" type="text/css" href="/css/timer.css">
<link rel="stylesheet" type="text/css" href="/css/dark.css">

<script src="/js/timer.js"></script>

<br>

<!-- ////////////////// - DARK MODE - ////////////////// -->

<li style="display: block;" class="icon-moon">
  <icon href="#" id="toggle-mode-btn-moon" class="toggle-mode">
    <i class="fa-sharp fa-solid fa-moon"></i>
  </icon>
</li>
<li style="display: block;" class="icon-sun">
  <icon href="#" id="toggle-mode-btn-sun" class="toggle-mode">
    <i class="fa-regular fa-sun"></i>
  </icon>
</li>

<!-- ////////////////// - NAV - ////////////////// -->

<navbar>
  <li><a href="/Secret">Back</a></li><br>
</navbar>

<br><br><br>

<pagetitle>Your password has been changed!</pagetitle>

<br>

<script src="/js/dark.js"></script>
<script src="/sortable/Sortable.min.js"></script>
<script src="/sortable/Sortable.js"></script>
<script src="/sortable/Sortable.master.js"></script>
<script src="/js/sort.js"></script>
