html {
  display: table;
  margin: auto;
}

body {
  padding-top: 80px;
  user-select: none;
  display: table-cell;
  vertical-align: middle;
  font-family: var(--main-body-font-family);
  font-style: normal;
  text-align: center;
  background: linear-gradient(var(--myBackgroundColor1), var(--myBackgroundColor2));
  transition: --myBackgroundColor1 var(--animation-duration-more) ease-in-out, --myBackgroundColor2 var(--animation-duration-long) ease-in-out;
  height: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

/*/////// - CUSTOM SCROLL BAR * ///////*/

/* For WebKit browsers (Chrome, Safari) */
::-webkit-scrollbar {
  width: 12px;
  transition: all 0.3s ease-in-out;
}

::-webkit-scrollbar-track {
  background-color: #0000001a;
  border-radius: 4px;
  transition: all 0.3s ease-in-out;
}

::-webkit-scrollbar-thumb {
  background-color: #20202066;
  border-radius: 4px;
  transition: all 0.3s ease-in-out;
}

/* For Firefox */
html {
  scrollbar-width: thin;
  scrollbar-color: #00000066 #0000001a;
}

body.scrollbar-page {
  padding-right: calc(84.55vw - 84.55%);
}

/*///////////*/

a {
  color: var(--links-color);
  font-weight: var(--links-font-weight);
  font-size: 16px;
  text-decoration: none;
  margin-left: 10px;
  transition: all var(--animation-duration-base) ease-in-out;
}

a:hover {
  text-decoration: underline;
}

hr.divider {
  border: none;
  height: 1px;
  width: 255px;
  background-color: var(--hr-divider-color);
  margin-top: 20px;
  margin-bottom: 20px;
}

hr.divider-spc-nav {
  border: none;
  height: 1px;
  width: 280px;
  background-color: var(--hr-divider-color);
}

.credentials {
  width: 230px;
  margin: 0 auto;
  margin-top: 50px;
  background-color: var(--credentials-box-background-color);
  border: 1px solid var(--credentials-border-color);
  padding-top: 25px;
  padding-left: 25px;
  padding-right: 25px;
  padding-bottom: 25px;
  border-radius: 5px;
  box-shadow: 0px 0px 15px var(--credentials-box-shadow-color);
  position: relative;
  transition: all var(--animation-duration-more) ease-in-out;
}

input {
  color: var(--text-color);
  font-size: 14px;
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 1px solid var(--input-box-border-color);
  border-radius: 4px;
  background-color: var(--input-box-background-color);
  transition: all var(--animation-duration-more) ease-in-out;
}

input::placeholder {
  color: var(--input-box-placeholder-color);
  transition: color var(--animation-duration-more) ease-in-out;
}

.form-button {
  height: 40px;
  width: 100%;
  background-color: var(--credentials-submit-button-background-color);
  color: var(--credentials-submit-button-text-color);
  padding: 0px 0px;
  margin: 10px 0px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all var(--animation-duration-base) ease-in-out;
}

/* ///// */

.grid-container-2 {
  display: inline-grid;
  width: 285px;
  height: 50px;
  gap: 5px;
  background-color: #80808000;
  padding: 5px;
  grid-template-columns: 130px 20px 130px;
  grid-template-rows: 50px;
}

.grid-item-2 {
  background-color: #80008000;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.item1-2 {
  grid-column: 1;
  grid-row: 1;
}

.item2-2 {
  grid-column: 2;
  grid-row: 1;
}

.item3-2 {
  grid-column: 3;
  grid-row: 1;
}

/* ///// */

li {
  list-style-type: none;
  display: inline-block;
  margin-top: 20px;
}

.buttons {
  position: relative;
  margin: -10px auto;
  text-align: center;
}

.number-selector {
  position: relative;
  margin: 0px;
  width: 35px;
  font-size: 18px;
  border: 1px solid var(--select-menu-border-color);
  height: 34px;
  appearance: none;
  background-color: var(--select-menu-background-color);
  text-align: center;
  border-radius: 5px;
  text-indent: -1px;
  transition: all var(--animation-duration-more) ease-in-out;
  cursor: pointer;
}

.number-selector option {
  background: url() 96% / 15% no-repeat var(--select-menu-background-color);
  border-radius: 15px;
  box-shadow: 0px 0px 15px var(--credentials-box-shadow-color);

}

option {
  border-radius: 5px;
}

navbar {
  font-weight: 450;
  font-size: 14px;
}

pagetitle {
  font-size: 24px;
  font-weight: 400;
  transition: all var(--animation-duration-base) ease-in-out;
}

greet {
  font-size: 24px;
  transition: all var(--animation-duration-base) ease-in-out;
}

joke {
  font-size: 16px;
  font-weight: 300;
  transition: all var(--animation-duration-base) ease-in-out;
}

description {
  font-size: 14px;
  font-weight: 400;
  transition: all var(--animation-duration-base) ease-in-out;
}

slots {
  font-size: 26px;
  font-weight: 500;
  font-family: "Share Tech Mono";
  transition: all var(--animation-duration-base) ease-in-out;
}

.vertical-line-2,
.vertical-line {
  margin-left: 10px;
  margin-right: 0px;
  display: inline-block;
  align-items: center;
  border-right: 1px solid var(--links-divider-color);
  width: 1px;
  overflow: hidden;
  transition: all var(--animation-duration-base) ease-in-out;
}

.vertical-line {
  border-right: 1px solid var(--links-divider-color);
  height: 10px;
}

.vertical-line-2 {
  border-right: 1px solid var(--hr-divider-color);
  height: 50px;
}

.roles-list {
  list-style-type: none;
  padding: 0;
  margin: 0 auto;
  text-align: left;
  width: fit-content;
}

.roles-list > ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

/* ////// - SEARCH - ////// */

#search-bar {
  width: 100%;
  max-width: 295px;
  padding: 12px 20px;
  margin: 8px 0;
  border: 1px solid #4d6d8bc0;
  border-radius: 5px;
  box-sizing: border-box;
  font-size: 16px;
}

/* ////// - RESET PASS ERROR MISMATCH - ////// */

.error-message {
  margin-bottom: 10px;
  font-weight: bold;
}
