/* //////// - LIGHT MODE - //////// */

/* * {
} */

html {
  display: table;
  margin: auto;
}

@property --myBackgroundColor1 {
  syntax: '<color>';
  initial-value: #A0DFFF;
  inherits: false;
}

@property --myBackgroundColor2 {
  syntax: '<color>';
  initial-value: #40BEFF;
  inherits: false;
}

body {
  user-select: none;
  display: table-cell;
  vertical-align: middle;
  font-family: "montserrat", sans-serif;
  font-style: normal;
  text-align: center;
  background: linear-gradient(var(--myBackgroundColor1), var(--myBackgroundColor2));
  transition: --myBackgroundColor1 1s ease-in-out, --myBackgroundColor2 2s ease-in-out;
  height: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

a {
  color: #004C7B;
  font-weight: 500;
  text-decoration: none;
  margin-left: 10px;
  transition: all 0.7s ease-in-out;
}

a:hover {
  text-decoration: underline;
}

hr.divider {
  border: none;
  height: 1px;
  width: 200px;
  background-color: #004C7B; /* Modern Browsers */
}

hr.divider-spc-nav {
  border: none;
  height: 1px;
  width: 280px;
  background-color: #004C7B; /* Modern Browsers */
}

.credentials {
  width: 250px;
  margin: 0 auto;
  margin-top: 50px;
  background-color: #EEF7FB;
  padding: 30px;
  border-radius: 5px;
  box-shadow: 0px 0px 20px #00050c;
  position: relative;
  transition: all 1s ease-in-out;
}

input {
  font-size: 14px;
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 1px solid #a1bdc7;
  border-radius: 4px;
  background-color: #ffffff;
  transition: all 1s ease-in-out;
}

input::placeholder {
  color: #a1a1a1; /* Replace with the desired color */
  transition: all 1s ease-in-out;
}




/* ///// */

li {
  list-style-type: none;
  display: inline-block;
  margin-top: 20px;
}

.buttons {
  position: relative;
  margin: 0 auto;
  text-align: center;
}

select {
  position: relative;
  margin: 0px;
  width: 35px;
  font-size: 18px;
  border: 1px solid #CCC;
  height: 34px;
  appearance: none;
  background: url() 96% / 15% no-repeat #eee;
  text-align: center;
  border-radius: 5px;
  text-indent: -1px;
  transition: all 1s ease-in-out;
  cursor: pointer;
}

agent {
  font-weight: 650;
  font-size: 18px;
}

info {
  font-family: roboto-mono, monospace;
  font-weight: 650;
}

navbar {
  font-weight: 450;
  font-size: 14px;
}

pagetitle {
  font-size: 30px;
  font-weight: 400;
  transition: all 0.7s ease-in-out;
}


greet {
  font-size: 30px;
  transition: all 0.7s ease-in-out;
}

joke {
  font-size: 20px;
  font-weight: 300;
  transition: all 0.7s ease-in-out;
}

description {
  font-size: 16px;
  font-weight: 400;
  transition: all 0.7s ease-in-out;
}
