html {
  display: table;
  margin: auto;
}

body {
  padding-top: 90px;
  user-select: none;
  display: table-cell;
  vertical-align: middle;
  font-family: var(--main-body-font-family);
  font-style: normal;
  text-align: center;
  background: linear-gradient(var(--my-background-color-1), var(--my-background-color-2));
  transition: --my-background-color-1 var(--animation-duration-more) ease-in-out, --my-background-color-2 var(--animation-duration-long) ease-in-out;
  height: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

::-webkit-scrollbar {
  display: none;
}

.element::-moz-scrollbar {
  width: 0;
  background-color: transparent;
}

/*///////////*/

a {
  color: var(--links-color);
  font-weight: var(--links-font-weight);
  font-size: 16px;
  text-decoration: none;
  margin-left: 10px;
  transition: all var(--animation-duration-base) ease-in-out;
}

a:hover {
  text-decoration: underline;
}

hr.divider {
  border: none;
  height: 1px;
  width: 255px;
  background-color: var(--hr-divider-color);
  margin-top: 20px;
  margin-bottom: 20px;
}

hr.divider-spc-nav {
  border: none;
  height: 1px;
  width: 280px;
  background-color: var(--hr-divider-color);
}

.credentials {
  width: 230px;
  margin: 0 auto;
  margin-top: 50px;
  background: linear-gradient(var(--break-list-item-background-color), var(--break-list-item-background-color)) padding-box,
    linear-gradient(to bottom, var(--credentials-box-background-color-1), var(--credentials-box-background-color-2)) border-box;
  border: 1px solid transparent;
  padding-top: 25px;
  padding-left: 25px;
  padding-right: 25px;
  padding-bottom: 25px;
  border-radius: 15px;
  box-shadow: 0px 0px 15px var(--credentials-box-shadow-color);
  position: relative;
  transition: all var(--animation-duration-base) ease-in-out;
}

input {
  color: var(--text-color);
  font-size: 14px;
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 1px solid var(--input-box-border-color);
  border-radius: 8px;
  background-color: var(--input-box-background-color);
  transition: all var(--animation-duration-more) ease-in-out;
}

input::placeholder {
  color: var(--input-box-placeholder-color);
  transition: color var(--animation-duration-more) ease-in-out;
}

.form-button {
  height: 40px;
  width: 100%;
  background-image: linear-gradient(to bottom, var(--credentials-submit-button-background-1-color), var(--credentials-submit-button-background-2-color));
  color: var(--credentials-submit-button-text-color);
  padding: 0px 0px;
  margin: 10px 0px;
  border: 1px solid var(--credentials-submit-button-background-2-color);
  border-radius: 8px;
  cursor: pointer;
  transition: all var(--animation-duration-short) ease-in-out;
  background-origin: border-box;
}

.form-button:hover {
  background: linear-gradient(var(--credentials-submit-button-background-1-color), var(--credentials-submit-button-background-2-color)) padding-box;
  outline: 0;
  -webkit-box-shadow: inset 0px 0px 5px #00000000, 0px 0px 8px var(--input-box-outline-shadow-color);
  box-shadow: inset 0px 0px 5px #00000000, 0px 0px 8px var(--input-box-outline-shadow-color);
  border: 1px solid var(--input-box-outline-color);
}

#login-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 45vh;
  margin: 0 auto;
}

/* ///// */

.grid-container-2 {
  display: inline-grid;
  width: 285px;
  height: 50px;
  gap: 5px;
  background-color: #80808000;
  padding: 5px;
  grid-template-columns: 130px 20px 130px;
  grid-template-rows: 50px;
}

.grid-item-2 {
  background-color: #80008000;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.item1-2 {
  grid-column: 1;
  grid-row: 1;
}

.item2-2 {
  grid-column: 2;
  grid-row: 1;
}

.item3-2 {
  grid-column: 3;
  grid-row: 1;
}

/* ///// */

li {
  list-style-type: none;
  display: inline-block;
  margin-top: 20px;
}

.buttons {
  position: relative;
  margin: -10px auto;
  text-align: center;
}

.number-selector {
  color: var(--credentials-submit-button-text-color);
  position: relative;
  margin: 0px;
  width: 35px;
  font-size: 18px;
  border: 1px solid transparent;
  outline: 0px;
  height: 34px;
  appearance: none;
  background: linear-gradient(var(--credentials-submit-button-background-1-color), var(--credentials-submit-button-background-2-color)) padding-box;
  text-align: center;
  border-radius: 8px;
  text-indent: -1px;
  cursor: pointer;
  box-shadow: 0px 3px 7px 0px var(--break-list-item-shadow-color);
  transition: all var(--animation-duration-short) ease-in-out;
}

.number-selector:hover {
  background: linear-gradient(var(--credentials-submit-button-background-1-color), var(--credentials-submit-button-background-2-color)) padding-box;
  outline: 0;
  border: 1px solid var(--input-box-outline-color);
}

option {
  color: var(--break-list-item-text-color);
  background-color: var(--break-list-item-background-color);
  border-radius: 8px;
  border: none;
  transition: all var(--animation-duration-short) ease-in-out;
}

pagetitle {
  font-size: 24px;
  font-weight: 400;
  transition: all var(--animation-duration-base) ease-in-out;
}

greet {
  font-size: 24px;
  transition: all var(--animation-duration-base) ease-in-out;
}

joke {
  font-size: 16px;
  font-weight: 300;
  transition: all var(--animation-duration-base) ease-in-out;
}

description {
  font-size: 14px;
  font-weight: 400;
  transition: all var(--animation-duration-base) ease-in-out;
}

slots {
  font-size: 26px;
  font-weight: 500;
  font-family: "Share Tech Mono";
  transition: all var(--animation-duration-base) ease-in-out;
}

.vertical-line-2,
.vertical-line {
  margin-left: 10px;
  margin-right: 0px;
  display: inline-block;
  align-items: center;
  border-right: 1px solid var(--links-divider-color);
  width: 1px;
  overflow: hidden;
  transition: all var(--animation-duration-base) ease-in-out;
}

.vertical-line {
  border-right: 1px solid var(--links-divider-color);
  height: 10px;
}

.vertical-line-2 {
  border-right: 1px solid var(--hr-divider-color);
  height: 50px;
}

/* ////// - SEARCH - ////// */

.search-bar {
  outline: 0;
  width: 100%;
  max-width: 280px;
  height: 40px;
  padding: 12px 20px;
  margin: 8px 0;
  border: 1px solid #4d6d8b00;
  border-radius: 8px;
  box-sizing: border-box;
  font-size: 16px;
  transition: all var(--animation-duration-min) ease-in-out;
}

.search-bar:focus {
  outline: 0;
  -webkit-box-shadow: inset 1px 1px 5px #00000013, 1px 1px 8px var(--input-box-outline-shadow-color);
  box-shadow: inset 1px 1px 5px #00000013, 1px 1px 8px var(--input-box-outline-shadow-color);
  border: 1px solid var(--input-box-outline-color);
}

.search-bar:focus~.search-users {
  background-color: var(--input-box-placeholder-background-color);
  width: fit-content;
  height: fit-content;
  color: var(--input-box-placeholder-focused-color);
  top: -63px;
  right: -8px;
}

.search-users {
  position: relative;
  pointer-events: none;
  white-space: nowrap;
  width: fit-content;
  height: fit-content;
  padding: 0px 0px;
  width: 0px;
  top: -40px;
  left: -75px;
  text-align: left;
  justify-items: left;
  font-family: var(--main-body-font-family);
  font-size: 14px;
  font-weight: normal;
  padding: 0px 0px;
  color: var(--input-box-placeholder-color);
  pointer-events: none;
  white-space: nowrap;
  transition: all var(--animation-duration-min) ease-in-out;
}

.search-container {
  top:15px;
  position: relative;
}

/* ////// - RESET PASS ERROR MISMATCH - ////// */

#error-message {
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 100%;
  text-align: center;
}

/* /////// - FORMS - /////// */

.placeholder1 {
  position: relative;
  pointer-events: none;
  white-space: nowrap;
  width: fit-content;
  height: fit-content;
  padding: 0px 0px;
  width: 0px;
  top: -40px;
  left: -40px;
  text-align: left;
  justify-items: left;
  font-family: var(--main-body-font-family);
  font-size: 14px;
  font-weight: normal;
  padding: 0px 0px;
  color: var(--input-box-placeholder-color);
  pointer-events: none;
  white-space: nowrap;
  transition: all var(--animation-duration-min) ease-in-out;
}

.username,
.password {
  position: relative;
  top: -40px;
  left: -68px;
}

.newtime,
.newpassword {
  position: relative;
  left: -50px;
}

.inputfield {
  transition: all var(--animation-duration-min) ease-in-out;
}

.inputfield:focus {
  outline: 0;
  font-size: 14px;
  -webkit-box-shadow: inset 1px 1px 5px #00000013, 1px 1px 8px var(--input-box-outline-shadow-color);
  box-shadow: inset 1px 1px 5px #00000013, 1px 1px 8px var(--input-box-outline-shadow-color);
  border: 1px solid var(--input-box-outline-color);
}

.inputfield:focus~.placeholder1 {
  background-color: var(--input-box-placeholder-background-color);
  width: fit-content;
  height: fit-content;
  color: var(--input-box-placeholder-focused-color);
  top: -63px;
  right: -8px;
}

.input-container {
  position: relative;
  margin-bottom: -20px;
}

.input-container.has-text .search-users,
.input-container.has-text .placeholder1 {
  background-color: var(--input-box-placeholder-background-color);
  width: fit-content;
  height: fit-content;
  color: var(--input-box-placeholder-focused-color);
  top: -63px;
  right: -8px;
}

