/* //////// - DARK MODE - ////////// */

.dark-mode {
  --myColor1: #01041d;
  --myColor2: #00214e;
}

  .dark-mode .remove {
    display: none;
  }
  
  .dark-mode .show {
    display: block;
  }
  
  /* //// */

  .dark-mode .icon-moon {
    font-size: 36px;
    color: #b7e9e9;
    position: relative;
    top: 0px;
    opacity: 1;
  }

  .dark-mode .icon-sun {
    font-size: 8px;
    color:#ff6600;
    position: relative;
    top: 75px;
    opacity: 0;
  }

  .dark-mode a {
    color: #A979F6;
  }

  .dark-mode hr.divider {
    background-color: #004C7B; /* Modern Browsers */
  }
  
  .dark-mode .break-container {
    background-color: #00000000;
    color: #ccc;
  }
  
  .dark-mode .break-header input {
    background-color: #282828;
    color: #ccc;
  }
  
  .dark-mode .break-list-item {
    background-color: #01041ddc;
    color: #ccc;
    /* border: 1px solid #004C7B; */
    border: 2px solid;
    border-image: 
      linear-gradient(
        to bottom, 
        #004C7B, 
        #00000000
      ) 4 100%;
  }

  .dark-mode .break-list-item .cancel {
    background-color: #4a4a4a;
  }
  
  .dark-mode .time-over {
    color: #f36060;
  }
  
  .dark-mode select {
    background-color: #4a4a4a;
    border: 1px solid #7e94b3;
    color: #ccc;

  }
  
  .dark-mode .credentials {
    background-color: #00050c;
  }
  
  .dark-mode select {
    background-color: #2f2f2f;
    color: #fff;
  }
  
  .dark-mode input {
    border: 1px solid #000000;
    background-color: #333a46;
    color: #92a9c9;
  }

  .dark-mode input::placeholder {
    color: #4e5768; /* Replace with the desired color */
  }
  
  .dark-mode greet {
    color: #ccc;
  }

  .dark-mode joke {
    color: #ccc;
  }
  
  .dark-mode pagetitle {
    color: #ccc;
  }

  /* .dark-mode .toggle-mode {
    color:#b7e9e9;
  } */

  .dark-mode description {
    color: #ccc;
  }

  .dark-mode .break-header-button {
    color: #00214E;
    background-color: #6e8eb9;
  }
  
  .dark-mode .form-button {
    background-color: #7209B7;
    color: white;
  }