.modal {
  display: none;
  position: fixed;
  z-index: 9999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: var(--canvas-modal-background-color);
  pointer-events: none;
  transition: all var(--animation-duration-base) ease-in-out;
}

.modal-content-neg {
  background: var(--modal-neg-background-color);
  color: var(--modal-neg-text-color);
  border: var(--modal-border-thickness) solid var(--modal-neg-border-color);
}

.modal-content-pos {
  background: var(--modal-pos-background-color);
  color: var(--modal-pos-text-color);
  border: var(--modal-border-thickness) solid var(--modal-pos-border-color);
}


.modal-content-neg,
.modal-content-pos {
  margin: 40px auto 0;
  border-radius: var(--modal-border-radius);
  width: 280px;
  height: 45px;
  pointer-events: all;
  font-weight: var(--modal-font-weight);
  font-size: var(--modal-text-font-size);
  transition: background-color var(--animation-duration-more) ease-in-out,
    border var(--animation-duration-more) ease-in-out,
    color var(--animation-duration-short) ease-in-out;
  display: flex;
  align-items: center;
  justify-content: space-between
}

.exclamation,
.check,
.close-neg,
.close-pos {
  position: relative;
  top: -1px;
  flex-basis: 20%;
  align-items: center;
  transition: color var(--animation-duration-short) ease-in-out;
}

.close-neg {
  color: var(--modal-neg-close-icon-color);
}

.close-pos {
  color: var(--modal-pos-close-icon-color);
}

.exclamation {
  color: var(--modal-neg-close-icon-color);
}

.check {
  color: var(--modal-pos-close-icon-color);
}

.check,
.exclamation {
  left: -10px;
  font-size: 28px;
}

.close-neg,
.close-pos {
  right: -10px;
  transform: scale(0.8);
  /* font-size: 20px; */
}

.close-neg:hover,
.close-pos:hover,
.close-neg:focus,
.close-neg:focus {
  cursor: pointer;
}

.modal-text {
  top: 50%;
}

@keyframes fadeIn {
  0% {
    transform: scale(2);
    opacity: 0;
  }

  50% {
    transform: scale(0.95);
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.modal-content-neg,
.modal-content-pos {
  opacity: 0;
  animation: fadeIn 0.3s ease-in-out forwards;
}

/* ////////////// - PASSWORD RESET+TIME CHANGE MODALs - ////////////// */

.time-change-form,
.name-change-form,
.confirm-modal-form,
.reset-password-form {
  width: 230px;
  margin: 0 auto;
  background: linear-gradient(var(--break-list-item-background-color), var(--break-list-item-background-color)) padding-box,
    linear-gradient(to bottom, var(--credentials-box-background-color-1), var(--credentials-box-background-color-2)) border-box;
  border: 1px solid transparent;
  padding-top: 25px;
  padding-left: 25px;
  padding-right: 25px;
  padding-bottom: 25px;
  border-radius: 15px;
  box-shadow: 0px 0px 15px var(--credentials-box-shadow-color);
  position: relative;
  transition: all var(--animation-duration-more) ease-in-out;
}

.confirm-modal-form {
  position: relative;
  margin-top: 210px;
}

.reset-password-form {
  position: relative;
  margin-top: 25px;
}

.name-change-form,
.time-change-form {
  position: relative;
  margin-top: 210px;
}

.name-change-modal,
.confirmation-modal,
.time-change-modal,
.reset-password-modal {
  display: none;
  position: fixed;
  z-index: 1000;
  top: -10px;
  width: 100%;
  height: 150%;
  overflow: auto;
  background-color: #00000066;
}

/*/// - CHANGE LEFT FOR CENTERED - ///*/
.name-change-modal,
.confirmation-modal,
.time-change-modal {
  left: 0px;
}

.reset-password-modal {
  left: -8px;
}

/* //// */

.name-change-modal-content,
.confirmation-modal-content,
.time-change-modal-content,
.reset-password-modal-content {
  background-color: #01060ec9;
  padding: 0px;
  border: 1px solid #00000000;
  width: 100%;
  height: 100%;
  border-radius: 15px;
  opacity: 0;
  animation: fadeInReset 0.2s ease-in-out forwards;
}

.name-change-close,
.confirmation-modal-close,
.time-change-close,
.reset-password-close {
  position: relative;
  left: 20px;
  top: 185px;
  color: #ffffff79;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.name-change-close:hover,
.name-change-close:focus,
.confirmation-modal-close:hover,
.confirmation-modal-close:focus,
.time-change-close:hover,
.time-change-close:focus,
.reset-password-close:hover,
.reset-password-close:focus {
  color: #ffffffad;
  text-decoration: none;
  cursor: pointer;
}

#name-change-form input[type="password"],
#time-change-form input[type="password"],
#reset-password-form input[type="password"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 1px solid #00000000;
}

.name-change-title,
.confirmation-modal-title,
.time-change-title,
.reset-pass-title,
#reset-password-form {
  color: var(--modals-title-text-color);
  position: relative;
  top: 185px;
  left: 7px;
}

#name-error-message,
#time-error-message,
#error-message {
  font-size: 14px;
}

/*///////// - RESET PASS MODAL TRANSITION * /////////////*/

@keyframes fadeInReset {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}