/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 9999; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: var(--canvas-modal-background-color); /* Fallback color */
  pointer-events: none; /* Added to allow interactions with elements below the modal */
  transition: all var(--animation-duration-base) ease-in-out;
}

/* Modal Content/Box */
.modal-content {
  background: url(../icons/warning.ico) 2% / 7% no-repeat var(--modal-background-color);
  color: var(--modal-text-color);
  margin: 40px auto 0; /* 15% from the top and centered */
  padding: 0px;
  border: var(--modal-border-thickness) solid var(--modal-border-color);
  border-radius: 10px;
  width: 400px; /* Could be more or less, depending on screen size */
  pointer-events: all; /* Added to allow interactions with modal */
  font-family: "montserrat", sans-serif;
  font-weight: var(--modal-font-weight);
  font-size: var(--modal-text-font-size);
  transition: background-color var(--animation-duration-more) ease-in-out, 
              border var(--animation-duration-more) ease-in-out, 
              color var(--animation-duration-short) ease-in-out,
              font-weight var(--animation-duration-short) ease-in-out;
}
 
/* The Close Button */
.close {
  position: relative;
  top: 7px;
  right: 15px;
  color: var(--modal-close-color);
  float: right;
  font-size: 28px;
  font-weight: bold;
  transition: color var(--animation-duration-short) ease-in-out;
}

.close:hover,
.close:focus {
  cursor: pointer;
}

/* .modal-text {
} */
