.break-container {
  background: #00000000;
  text-align: center;
}

.set-timer-container {
  display: flex;
  justify-content: center;

}

.break-header input {
  width: 235px;
  border: none;
  border-radius: 5px;
  height: 30px;
}

.break-header button {
  font-size: 35px;
  color: rgb(0, 190, 57);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #00000000;
}

.break-list {
  position: relative;
  top: -20px;
  padding: 0px;
  list-style-type: none;
  display: flex;
  justify-content: center;
  display: inline-block;
}

.break-list-item {
  width: 250px;
  padding: 10px;
  margin-top: 10px;
  border: 1px solid #7c7c7c;
  border-radius: 5px;
  background: #a0a0a04d;
  text-align: left;
  display: flex;
  font-size: 16px;
  font-weight: 390;
}

.break-list-item .confirm {
  width: 70px;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  padding: 5px;
  background-color: #2ed573;
}

.break-list-item .cancel {
  width: 100%;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  padding: 5px;
  background-color: #df2b2b;
}

.break-list-item div {
  flex-grow: 2;
}
 
.break-list-item .edit {
  color: #8fe93a;
  margin-right: 10px;
  cursor: pointer;
  text-decoration: none;
}

.break-list-item .remove {
  color: #f36060;
  margin-right: 5px;
  cursor: pointer;
  text-decoration: none;
}

agent {
  font-weight: 650;
  font-size: 20px;
}

info {
  font-weight: 650;
}

/* /////////////////// - SELECT DROP DOWN - //////////////////// */

select {
  margin: 0px;
  width: 35px;
  font-size: 14px;
  border: 1px solid #CCC;
  height: 34px;
  appearance: none;
  appearance: none;
  background: url() 96% / 15% no-repeat #eee;
  text-align: center;
  border-radius: 5px;
}

@media screen and (max-width: 768px) {
  .break-list {
    display: block;
    margin: 0;
    padding: 0;
  }
  .break-list-item {
    width: 100%;
    margin: 0;
  }
  .break-list-item .remove {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
  }
  .break-list-item div {
    margin-left: 20px;
  }
}

.toggle-mode {
  color:#ffef5f;
  text-align: left;
  font-size: 20px;
}

/* ///// - ALIGN NAME AND TIMER IN SECRET.EJS ///// */

.numerical-timer {
  font-family: roboto-mono, monospace;
}

.break-list-item-name {
  display: flex;
  justify-content: space-between;
}

.time-over {
  color: red;
  animation: flash 1s linear infinite;

  font-weight: 400;
}

@keyframes flash {
  50% {
    opacity: 1;
  }
  90% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.remove {
  display: none;
}

.show {
  display: block;
}

.timer-container {
  margin-left: 10px;
  text-align: right;
}

filer {
  color: #00000000;
}

.loader::after {
  content: ".";
  animation: loading 1s infinite;
  font-weight: 100;
}

@keyframes loading {
  0% {
    content: "";
  }
  33% {
    content: "-";
  }
  66% {
    content: "--";
  }
  100% {
    content: "---";
  }
}

