.todo-container {
  background: #ffffff1a;
  text-align: center;
}

.todo-header input {
  width: 235px;
  border: none;
  border-radius: 5px;
  height: 30px;
}

.todo-header button {
  width: 30px;
  height: 30px;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  padding: 10px;
  background-color: #2ed573;
}

.todo-list {
  position: relative;
  top: -20px;
  padding: 0px;
  list-style-type: none;
  display: flex;
  justify-content: center;
  display: inline-block;
}

.todo-list-item {
  width: 250px;
  padding: 10px;
  margin-top: 10px;
  border: none;
  border-radius: 5px;
  background: #0000004d;
  font-size: 12px;
  text-align: left;
  display: flex;
}

.todo-list-item .confirm {
  width: 60px;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  padding: 5px;
  background-color: #2ed573;
}

.todo-list-item .cancel {
  width: 100%;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  padding: 5px;
  background-color: #df2b2b;
}

.todo-list-item div {
  flex-grow: 2;
}
 
.todo-list-item .edit {
  color: #8fe93a;
  margin-right: 10px;
  cursor: pointer;
  text-decoration: none;
}

.todo-list-item .remove {
  color: #f36060;
  margin-right: 5px;
  cursor: pointer;
  text-decoration: none;
}

.time-over {
  color: red;
  animation: flash 1s linear infinite;
}

@keyframes flash {
  50% {
    opacity: 1;
  }
  90% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* /////////////////// - SELECT DROP DOWN - //////////////////// */

select {
  margin: 0px;
  width: 35px;
  font-size: 14px;
  border: 1px solid #CCC;
  height: 34px;
  appearance: none;
  appearance: none;
  background: url() 96% / 15% no-repeat #eee;
  text-align: center;
  border-radius: 5px;
}