.todo-container {
  background: #ffffff1a;
}



.todo-header input {
  width: 250px;
  border: none;
  border-radius: 5px;
  height: 30px;
}

.todo-header button {
  width: 50px;
  color: white;
  border: none;
  border-radius: 5%;
  cursor: pointer;
  padding: 5px;
  background-color: #2ed573;
}

.todo-list-item {
  width: 250px;
  padding: 10px;
  margin-top: 10px;
  border: none;
  border-radius: 5px;
  background: #0000004d;
  font-size: 12px;
  text-align: left;
  display: flex;
}

.todo-list-item .confirm {
  width: 100%;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  padding: 5px;
  background-color: #2ed573;
}

.todo-list-item .cancel {
  width: 100%;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  padding: 5px;
  background-color: #df2b2b;
}

.todo-list-item div {
  flex-grow: 2;
}

.todo-list-item .edit {
  color: #8fe93a;
  margin-right: 10px;
  cursor: pointer;
  text-decoration: none;
}

.todo-list-item .remove {
  color: #f36060;
  margin-right: 5px;
  cursor: pointer;
  text-decoration: none;
}
