<!-- ////////////// MODALS ////////////////-->

<div id="myModal-Pos" class="modal">
    <div class="modal-content-pos">
        <span class="check material-symbols-outlined">sentiment_satisfied_alt</span>
        <span id="message-pos" class="modal-text"></span>
        <span class="close-pos material-symbols-outlined">close</span>
    </div>
</div>

<div id="myModal-Neg" class="modal">
    <div class="modal-content-neg">
        <span class="exclamation material-symbols-outlined">sentiment_dissatisfied</span>
        <span id="message-neg" class="modal-text"></span>
        <span class="close-neg material-symbols-outlined">close</span>
    </div>
</div>