<!-- ////////////////// - NAV - ////////////////// -->

<navbar>
    <li><a href="/secret">Breaks</a></li>
    <section class="vertical-line"></section>
    <li><a href="/account">Password</a></li>
    <section class="vertical-line"></section>
    <% if (currentUser.roles==='admin' ) { %>
      <li><a href="/register">Register</a></li>
      <section class="vertical-line"></section>
      <li><a href="/users">Accounts</a></li>
      <section class="vertical-line"></section>
      <% } %>
        <li><a href="/logout">Logout</a></li>
  </navbar>