<!-- ////////////////// - DARK MODE - ////////////////// -->

<li style="display: block;" class="toggle-moon">
    <icon href="#" id="toggle-mode-btn-moon" class="toggle-mode">
        <span class="material-symbols-outlined">brightness_3</span>
    </icon>
</li>

<li style="display: block;" class="toggle-sun">
    <icon href="#" id="toggle-mode-btn-sun" class="toggle-mode">
        <span class="material-symbols-outlined">sunny</span>
    </icon>
</li>