<!-- ////// - USERS ONLINE INDICATOR - ////////-->

<script>
    'use strict';

    const toggleUserList = () => {
        const userList = document.querySelector('#userList');
        if (userList.style.display === 'block') {
            userList.style.display = 'none';
            userList.classList.remove('show');
        } else {
            userList.style.display = 'block';
            setTimeout(() => {
                userList.classList.add('show');
            }, 10);
        }
    }

    document.addEventListener('click', (event) => {
        const userList = document.querySelector('#userList');
        const userCountButton = document.querySelector('#userCount');
        <% if (currentUser.roles === 'admin') { %>
        if (!userList.contains(event.target) && !userCountButton.contains(event.target)) {
            userList.style.display = 'none';
            userList.classList.remove('show');
        }
        <% } %>
    });

    setInterval(() => {
        socket.emit('heartbeat');
    }, 5 * 1000);

</script>


<span class="users-container">
    <% if (currentUser.roles==='admin' ) { %>
        <button id="userCount" onclick="toggleUserList()">0</button>
        <ul id="userList"></ul>
        <% } %>
</span>


<style>
    #userCount {
        font-family: var(--break-list-item-timer-font-family);
        top: -7px;
        left: 225px;
        margin-right: -35px;
        background-color: var(--break-list-item-background-color);
        border: 2px solid var(--hr-divider-color);
        color: var(--text-color);
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 14px;
        width: 30px;
        height: 30px;
        line-height: 26px;
        border-radius: 50%;
        cursor: pointer;
        outline: none;
        box-shadow: 0 2px 4px #00000026;
        position: absolute;
        transition: all var(--animation-duration-long) ease;
    }

    #userList {
        outline: var(--break-list-item-background-color);
        display: none;
        position: absolute;
        top: 35px;
        left: 50%;
        transform: translateX(89px);
        background-color: var(--navigation-dropdown-background-color);
        min-width: 100px;
        max-width: 200px;
        box-shadow: 0px 8px 16px 0px #00000033;
        list-style-type: none;
        margin: 0;
        padding: 0;
        border-radius: 15px;
        z-index: 1;
        opacity: 0;
        transition: all var(--animation-duration-short) ease;
    }

    #userList.show {
        opacity: 1;
    }

    #userList:before {
        content: '';
        position: absolute;
        top: -13px;
        left: 50%;
        transform: translateX(-50%);
        border-width: 0 12px 12px;
        border-style: solid;
        border-color: transparent transparent var(--navigation-dropdown-background-color);
    }

    #userList li {
        padding-bottom: 10px;
        padding-top: -8px;
        margin: 5px;
        text-decoration: none;
        color: var(--text-color);
        display: block;
        white-space: nowrap;
        border-radius: 5px;
    }

    #userList li:first-child {
        margin-top: 10px;
        font-weight: bold;
        cursor: default;
    }

    #userList hr {
        position: relative;
        left: 9px;
        border: none;
        width: 70px;
        height: 1px;
        background-color: var(--hr-divider-userslist-color);
        margin: 0px;
    }
</style>

