<!-- ////////////////// - HEADER SETUP - ////////////////// -->

<%- include('partials/header.ejs') %>

<br>

<!-- ////////////////// - THEME TOGGLE - ////////////////// -->

<%- include('partials/themes.ejs') %>

<!-- ////////////// MODALS ////////////////-->

<%- include('partials/modals.ejs') %>

<!-- ////////////////// - FORM - ////////////////// -->

<form action="/login" method="POST" class="credentials">
  <input type="text" name="username" placeholder="username" autocomplete="off">
  <input type="password" name="password" placeholder="password" autocomplete="off">
  <button id="login-submit-button" type="submit" class="form-button">Login</button>
</form>

<!-- ////////////////// - FETCH BASIC JS - ////////////////// -->

<%- include('partials/basic_bottomjs.ejs') %>