<%- include('partials/header.ejs') %>

    <style>
        body {
            background-color: black;
            padding: 20px;
            text-align: left;
        }

        .logFile {
            cursor: pointer;
            color: blue;
            text-decoration: underline;
        }

        .log-level-red {
            color: red;
        }

        .log-level-green {
            color: green;
        }

        .log-level-yellow {
            color: yellow;
        }

        .log-level-magenta {
            color: magenta;
        }

        .log-level-default {
            color: black;
        }

        .logs-container {
            display: flex;
            flex-wrap: wrap;
            gap: 16px;
        }

        .log-button {
            background-color: #007bff;
            border: none;
            color: white;
            cursor: pointer;
            padding: 8px 16px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 14px;
            transition-duration: 0.4s;
        }

        .log-button:hover {
            background-color: #0056b3;
            color: white;
        }
    </style>

    <h1>Logs</h1>
    <div id="logList" class="logs-container">
        <% logs.forEach(logFile=> { %>
            <button class="log-button" onclick="fetchLogContent('<%= logFile %>')">
                <%= logFile %>
            </button>
            <% }); %>
    </div>
    <h2>Log content</h2>
    <pre id="logContent"></pre>

    <script>

        const fetchLogContent = (logFile) => {
            try {
                fetch(`/logs/${logFile}`)
                    .then(response => {
                        if (!response.ok) {
                            throw new Error(`HTTP error! status: ${response.status}`);
                        }
                        return response.json();
                    })
                    .then(data => {
                        document.getElementById("logContent").innerHTML = data.data.replace(/\n/g, "<br>");
                    })
                    .catch(error => {
                        console.error("Error fetching log content:", error);
                    });
            } catch (error) { console.log(error) };
        }

        document.addEventListener('DOMContentLoaded', () => {
            try {
                fetch('/logs', { headers: { 'Accept': 'application/json' } })
                    .then(response => {
                        if (!response.ok) {
                            throw new Error(`HTTP error! status: ${response.status}`);
                        }
                        return response.json();
                    })
                    .then(data => {
                        const logList = document.getElementById('logList');
                        data.logs.forEach(logFile => {
                            const div = document.createElement('div');
                            div.className = 'logFile';
                            div.textContent = logFile;
                            div.addEventListener('click', function () {
                                fetchLogContent(logFile);
                            });
                            logList.appendChild(div);
                        });
                    }).catch(e => {
                        console.error("Error fetching log files:", e);
                    });
            } catch (error) { console.log(error) };
        });



    </script>