<!-- ////////////////// - PARTIALS - ////////////////// -->

<%- include('partials/header.ejs') %>
  <%- include('partials/messageModals.ejs') %>
    <%- include('partials/navigation.ejs') %>

      &nbsp;
      <br>

      <hr class="divider">

      <!-- ////////////////// - FORM - ////////////////// -->

      <pagetitle>Register an account</pagetitle>

      <form action="/register" method="POST" class="credentials">
        <div class="input-container">
          <input type="text" id="username" name="username" autocomplete="off" class="inputfield" maxlength="" value="">
          <span class="placeholder1 username">&nbsp;Username&nbsp;</span>
        </div>
        <div class="input-container">
          <input type="password" id="password" name="password" autocomplete="off" class="inputfield" maxlength=""
            value="">
          <span class="placeholder1 password">&nbsp;Password&nbsp;</span>
        </div>
        <div class="input-container">
          <input type="password" id="confirmpassword" name="confirmpassword" autocomplete="off" class="inputfield"
            maxlength="" value="">
          <span class="placeholder1">&nbsp;Confirm Password&nbsp;</span>
        </div>
        <button class="form-button">Submit</button>
      </form>

      <!-- ////////////// - BOTTOM PARTIALS - ////////////////-->
 
      <%- include('partials/bottomjs.ejs') %>