<!-- ////////////////// - 1ST IN DOM > PREVENT FLICKER - ////////////////// -->

<script src="/js/theme_setup.js"></script>

<!-- ////////////////// - LINED STYLES AND SCRIPTS - ////////////////// -->

<link rel="stylesheet" type="text/css" href="/css/common.css">
<link rel="stylesheet" type="text/css" href="/css/themes.css">
<link rel="stylesheet" type="text/css" href="/css/breaks.css">
<link rel="stylesheet" type="text/css" href="/css/timer.css">
<link rel="stylesheet" type="text/css" href="/css/modals.css">

<script src="/js/timer.js"></script>

<br>

<!-- ////////////////// - DARK MODE - ////////////////// -->

<li style="display: block;" class="toggle-moon">
  <icon href="#" id="toggle-mode-btn-moon" class="toggle-mode">
    <span class="material-symbols-outlined">brightness_3</span>
  </icon>
</li>

<li style="display: block;" class="toggle-sun">
  <icon href="#" id="toggle-mode-btn-sun" class="toggle-mode">
    <span class="material-symbols-outlined">sunny</span>
  </icon>
</li>

<!-- ////////////////// - FORM - ////////////////// -->

<br>

<pagetitle>Register an account</pagetitle>

<form action="/register" method="POST" class="credentials">
    <input type="text" name="username" placeholder="username" autocomplete="off">
    <input type="password" name="password" placeholder="password" autocomplete="off">
    <button class="form-button">Submit</button>
    <div class="buttons">
        <li><a href="/secret">Back</a></li>
    </div>
</form>

<!-- ////////////// MODALS ////////////////-->

<div id="myModal-Neg" class="modal">
  <div class="modal-content-neg">
    <span class="exclamation material-symbols-outlined">exclamation</span>
    <span id="message-neg" class="modal-text"></span>
    <span class="close-neg material-symbols-outlined">close</span>
  </div>
</div>

<div id="myModal-Pos" class="modal">
  <div class="modal-content-pos">
    <span class="check material-symbols-outlined">check</span>
    <span id="message-pos" class="modal-text"></span>
    <span class="close-pos material-symbols-outlined">close</span>
  </div>
</div>

<!-- ////////////////// - FETCH JS FILES - ////////////////// -->
 
<script src="/js/toggle.js"></script>
<script src="/js/modals.js"></script>
